<label>Volume</label>
<select name="volume" class="form-control">
  <option value="640">Home Brew</option>
  <option value="661" selected="selected">1/6 Barrel</option>
  <option value="992">1/4 Barrel</option>
  <option value="1984">1/2 Barrel</option>
</select>
