<div class="row">
  <div class="chart daily-chart col-xs-12 col-sm-12 col-lg-12">
    <h3>Total pours last 7 days</h3>
  </div>
</div>
<div class="row">
  <div class="chart weekly-chart col-xs-12 col-sm-12 col-lg-12">
    <h3>Total pours last 7 weeks</h3>
  </div>
</div>
