<div id="raging_drinkers" class="dash-widget"></div>
<div id="kick_time" class="dash-widget"></div>
<div id="recent_kegs" class="dash-widget"></div>
<div id="bar_tabs" class="dash-widget"></div>
<div id="unclaimed_pours" class="dash-widget"></div>
