<div class="row">
  {{#if drinker}}
  <h2>Current drinker: {{drinker.name}}</h2>
  <div id="cancel">
    <button class="btn btn-primary">Cancel drinker</button>
  </div>
  {{else}}
  <h2>Select a drinker</h2>

  <table id="drinkers">
    <thead>
      <tr>
        <td class="name"></td>
      </tr>
    </thead>

    <tbody>
      {{#each drinkers}}
      <tr id="{{id}}" class="clickable">
        <td>{{name}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div id="create">
    <button class="btn btn-primary">Add yourself</button>
  </div>
  {{/if}}
</div>
