{{#if drinker}}

<div class="bar-span">
  <span>{{drinker.name}} is drinking</span>
</div>
<table id="drinkers" class="kegums-table">
  <thead class="hidden">
    <tr>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <tr id="cancel_drinker" class="clickable">
      <td>- cancel drinker -</td>
    </tr>
  </tbody>
</table>

{{else}}

<div class="bar-span">
  <span>Select a drinker</span>
</div>

<table id="drinkers" class="kegums-table">
  <thead class="hidden">
    <tr>
      <td></td>
    </tr>
  </thead>

  <tbody>
    {{#each drinkers}}
    <tr id="{{id}}" class="clickable">
      <td>{{name}}</td>
    </tr>
    {{/each}}
    <tr id="create_drinker" class="clickable">
      <td>- add a new drinker -</td>
    </tr>
  </tbody>
</table>

{{/if}}
