<h2>Edit</h2>

<div>
  <form role="form">
    <div class="form-group">
      <label>Keg</label>
      <input id="keg" type="text" name="keg" class="form-control" placeholder="Keg name" />

      <label>Banner image</label>
      <input id="banner_image" type="text" name="bannerImage" class="form-control" placeholder="Banner image filename" />

      <label>Last pour</label>
      <input id="last_pour" type="text" name="lastPour" class="form-control" placeholder="Last pour time" />

      <label>Total pours</label>
      <input id="total_pours" type="text" name="totalPours" class="form-control" placeholder="Total number of pours of this keg" />

      <label>Pours left</label>
      <input id="pours_left" type="text" name="poursLeft" class="form-control" placeholder="Pours left in this keg" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Change</a>
    </div>
  </form>
</div>