<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Current fridge temp</h3>
    <div id="temp" class="ticker-wrap"></div>
  </div>
</div>

<div class="row chart-wrap">
  <div id="temp_chart" class="chart"></div>
</div>
