<div class="row">
  <div class="ticker-container">
    <div id="temp" class="ticker-wrap fridge-temp"></div>
  </div>

  <div class="labels fridge-temp">
    <span>current fridge temp</span>
  </div>
</div>

<div class="row chart-wrap">
  <div id="temp_chart" class="chart"></div>
</div>
