<!-- Two grid -->
<div class="row">
  <div id="keg_wrap" class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Current keg</h3>
    <p>Looking in the fridge...</p>
  </div>

  <div class="col-xs-6 col-sm-6 col-lg-6 banner-wrap-responsive">
    <div id="brand_banner_wrap" class="brand-banner">
      <p>Finding banner...</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Last pour</h3>
    <div id="last_pour" class="ticker-wrap"></div>
  </div>

  <div class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Pints poured</h3>
    <div id="total_pours" class="ticker-wrap"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Pints until empty</h3>
    <div id="pours_left" class="ticker-wrap"></div>
  </div>

  <div class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Current Fridge Temp</h3>
    <div id="temp" class="ticker-wrap"></div>
  </div>
</div>

<!-- Two grid -->
<div class="row">
  <div class="chart daily-chart col-xs-6 col-sm-6 col-lg-6">
    <h3>Total pours last 7 days</h3>
  </div>
  <div class="chart weekly-chart col-xs-6 col-sm-6 col-lg-6">
    <h3>Total pours last 7 weeks</h3>
  </div>
</div>
