<div class="brand-banner">
  <img src="/static/images/beer_banner.jpg" />
</div>

<div class="bar-span">
  <span id="keg_name">looking...</span>
</div>

<div class="stats-block">
  <div class="numbers">
    <span id="pours_left"></span>
    <span class="separator">|</span>
    <span id="total_pours"></span>
  </div>

  <div class="labels">
    <span class="beers-number beers-left">left</span>
    <span class="beers-number beers-separator">|</span>
    <span class="beers-number beers-drank">drank</span>
  </div>
</div>

<div class="bar-span thin"></div>

<div class="stats-block">
  <div class="ticker-container">
    <div id="last_pour" class="ticker-wrap last-pour"></div>
  </div>

  <div class="labels last-pour">
    <span>last pour</span>
  </div>
</div>

<div class="bar-span thin"></div>

<div class="stats-block">
  <div class="ticker-container">
    <div id="temp" class="ticker-wrap fridge-temp"></div>
  </div>

  <div class="labels fridge-temp">
    <span>current fridge temp</span>
  </div>
</div>

<div class="bar-span footer">
  <span>&copy;2013 Kegums. &hearts; beer</span>
</div>
