<!-- Two grid -->
<div class="row">
  <div id="keg_wrap" class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Current keg</h3>
    <p>Looking in the fridge...</p>
  </div>

  <div id="brand_banner_wrap" class="col-xs-6 col-sm-6 col-lg-6 brand-banner">
    <p>Finding banner...</p>
  </div>
</div>

<!-- Three grid -->
<div class="row">
  <div class="col-xs-6 col-sm-4 col-lg-4">
    <h3>Last pour</h3>
    <div id="last_pour"></div>
  </div>

  <div class="col-xs-6 col-sm-4 col-lg-4">
    <h3>Total pours</h3>
    <div id="total_pours"></div>
  </div>

  <div class="col-xs-6 col-sm-4 col-lg-4">
    <h3>Pours until empty</h3>
    <div id="pours_left"></div>
  </div>
</div>

<!-- Two grid -->
<div class="row">
  <div class="chart daily-chart col-xs-6 col-sm-6 col-lg-6">
    <h3>Total pours last 7 days</h3>
  </div>
  <div class="chart weekly-chart col-xs-6 col-sm-6 col-lg-6">
    <h3>Total pours last 7 weeks</h3>
  </div>
</div>
