<!-- Two grid -->
<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6">
    <h3>Current keg</h3>
    <p>{{keg}}</p>
  </div>

  <div class="col-xs-6 col-sm-6 col-lg-6">
    <img src="/static/images/current_keg.png" />
  </div>
</div>

<!-- Three grid -->
<div class="row">
  <div class="col-xs-6 col-sm-4 col-lg-4">
    <h3>Last pour</h3>
    <div id="last_pour"></div>
  </div>

  <div class="col-xs-6 col-sm-4 col-lg-4">
    <h3>Total pours</h3>
    <div id="total_pours"></div>
  </div>

  <div class="col-xs-6 col-sm-4 col-lg-4">
    <h3>Pours until empty</h3>
    <div id="pours_left"></div>
  </div>
</div>
