<div class="bar-span">
  <span>Drinking leaders (current keg)</span>
</div>

<div class="leaders">
{{#each drinkers}}
  <span>{{place}}</span>
  <span>{{drinkerName}}</span>
  <span>{{getBeers volume}}</span>
  <div class="bar-span thin"></div>
{{/each}}
</div>
