<div class="row">
  <h2>Drinker leaderboard (all time)</h2>

  <table id="drinkers">
    <thead>
      <tr>
        <td>Placement</td>
        <td>Name</td>
        <td>Beers</td>
      </tr>
    </thead>

    <tbody>
      {{#each drinkers}}
      <tr id="{{id}}">
        <td>{{place}}</td>
        <td>{{drinkerName}}</td>
        <td>{{getBeers volume}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
