<div class="bar-span">
  <span>Drinking leaders</span>
  <span class="sub-heading">average per keg</span>
</div>

<div class="leaders">
{{#each drinkers}}
  <span class="rank bold">{{place}}</span>
  <span class="bold">{{drinkerName}}</span>
  <span class="bold">{{getBeers volume}}</span>
  <div class="bar-span thin"></div>
{{/each}}
</div>
