@import nib

body.inverse
  background-color: #1a1a1a
  color: #999

.bar-span
  height: 50px
  background-color: #EEE
  color: #333
  font: 30px/1 "Lato"
  letter-spacing: -2px
  line-height: 45px

  &.thin
    height: 10px

  &.footer
    padding-top: 15px
    letter-spacing: 0px
    font: 20px/1 "Abril Fatface"

@media (min-width: 768px)
  .bar-span
    height: 100px
    font: 80px/1 "Lato"
    letter-spacing: -5px

    &.thin
      height: 20px

    &.footer
      padding-top: 40px


.spanning-full
  width: 100%
  text-align: center

#content
  margin-top: 50px

.brand-banner
  padding: 15%
  width: 100%
  overflow: hidden
  position: relative

  img
    position: absolute
    top: -5%
    left: 0
    width: 100%

@media (min-width: 768px)
  .brand-banner
    padding: 10%

    img
      top: -10%








.large-text
  font-size: 30px

.content
  h3
    font-size: 23px

  form
    margin-left: 15px

    label
      display: block
      line-height: 1

    input
      margin-bottom: 20px

    .jumbotron
      box-shadow(inset 0 0 5px 5px #222)
      margin-bottom: 0
      background-color: #121212
      border: 1px solid #2a2a2a

table.kegums-table
  width: 100%
  border-collapse: separate
  border-spacing: 10px

  tbody >
    tr
      &.clickable:hover
        cursor: pointer

      > td
        background-color: #444
        border-radius(4px)
        padding: 5px 0 5px 10px
        color: #999

  tbody.leaders tr:first-child td:first-child:after
    content: url(/static/images/crown.png)
    margin-left: 10px

#create_drinker
  margin-top: 25px

  > button
    float: right

p.empty-message
  margin-top: 50px
