@import nib

body
  background-color: #FFF

::selection
  background: #999

.large-text
  font-size: 30px

.content
  h3
    font-size: 23px

  > div
    padding-left: inherit

  .brand-banner
    border-radius(6px)
    box-shadow(inset 0 0 5px 5px #444)
    border: 1px solid #2a2a2a

    width: 310px
    height: 114px
    margin-top: -5px
    padding: 5px

    > p
      text-align: center
      margin-top: 40px

    > div
      border-radius(6px)
      overflow: hidden

      img
        display: none
        width: 300px
        height: 104px

  form
    margin-left: 15px

    label
      display: block
      line-height: 1

    input
      margin-bottom: 20px

body.inverse
  background-color: #1a1a1a
  color: #999

  .content
    border-radius(6px)
    background-color: #101010

    .row
      margin-bottom: 20px

    .jumbotron
      box-shadow(inset 0 0 5px 5px #222)
      margin-bottom: 0
      background-color: #121212
      border: 1px solid #2a2a2a

    .chart
      height: 300px
      margin-bottom: 50px
      text
        fill: #fff
