@import nib

body.inverse
  background-color: #1a1a1a
  color: #999

.bold
  font-weight: bold

.large-text
  font-size: 30px

.bar-span
  height: 50px
  background-color: #EEE
  color: #333
  font: 30px/1.2 "Abril Fatface"
  letter-spacing: -2px
  line-height: 45px

  .sub-heading
    display: none
    font: 30px/1 "Abril Fatface"
    color: #999
    letter-spacing: -1px
    padding-left: 15px

  &.thin
    height: 1px

  &.footer
    padding-top: 15px
    letter-spacing: 0px
    font: 20px/1.2 "Abril Fatface"

@media (min-width: 768px)
  .bar-span
    height: 100px
    font: 80px/1.2 "Abril Fatface"
    letter-spacing: -5px

    .sub-heading
      display: inline

    &.footer
      padding-top: 40px


.spanning-full
  width: 100%
  text-align: center

#content
  margin-top: 50px

.brand-banner
  padding: 15%
  width: 100%
  overflow: hidden
  position: relative

  img
    position: absolute
    top: -5%
    left: 0
    width: 100%

@media (min-width: 768px)
  .brand-banner
    padding: 10%

    img
      top: -10%
