html.dashboard
  background: url(/static/images/beer_banner.jpg) no-repeat center center
  background-size: 100% 100%

.dash-widget
  width: 325px
  height: 275px
  margin: 90px
  border: 1px solid #333
  background-color: #1a1a1a
  position: fixed
  right: 0
  margin-right: -350px

  ul
    list-style: none
    padding: 0

    li
      text-align: center

  span.stat, span.unit
    display: block
    font-size: 50px
    font-weight: bold

  span.stat
    margin: 25px 0 -20px

    &.no-unit
      font-size: 100px
      margin-top: 25px
