.dash-widget
  width: 325px
  margin: 50px auto

  &:first-child
    margin-top: 90px

@media (min-width: 675px)
  .dash-widget
    width: 50%
    float: left

    &:first-child
      margin-top: 50px

@media (min-width: 1000px)
  .dash-widget
    width: 33.3%
    float: left

    &:first-child
      margin-top: 50px

.dash-widget-inner
  width: 325px
  height: 275px
  border: 1px solid #333
  background-color: #1a1a1a
  margin: 0 auto

  ul
    list-style: none
    padding: 0

    li
      text-align: center

  span.stat, span.unit
    display: block
    font-size: 50px
    font-weight: bold

  span.stat
    margin: 25px 0 -20px

    &.no-unit
      font-size: 100px
      margin-top: 25px

.dashboard-content img
  height: 100%
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: -1
