@font-face
  font-family: 'Abril Fatface'
  font-style: normal
  font-weight: 400
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(/static/fonts/abril-regular.woff) format('woff')

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 100
  src: local('Lato Hairline'), local('Lato-Hairline'), url(/static/fonts/lato-hairline.woff) format('woff')

@font-face
  font-family: 'PT Serif'
  font-style: normal
  font-weight: 400
  src: local('PT Serif'), local('PTSerif-Regular'), url(/static/fonts/pt-serif.woff) format('woff')
