@import colors

#sidenav
  width: 200px
  height: 100%
  position: fixed
  background-color: $secondary
  color: $text

  ul
    list-style: none

  .footer
    width: 100%
    font-weight: bold
    position: absolute
    bottom: 10px
    text-align: center
