.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  background-color: #1a1a1a
  background-image: none
  box-shadow: none

  .navbar-brand, .navbar-nav li a
    text-shadow: none

@media (min-width: 768px)
  .navbar .container
    max-width: 760px
