.content
  margin-top: 146px

  .col-sm-6, .col-sm-4
    float: none
    width: 100%
    text-align: center

    > div
      width: 153px
      margin: 0 auto

  #keg_wrap
    margin-bottom: 10px

  #brand_banner_wrap
    width: 310px
    margin: -5px auto

    > div
      width: 298px


@media (min-width: 768px)
  .content
    margin-top: 80px

    .col-sm-6
      float: left
      width: 50%
      text-align: left

    .col-sm-4
      float: left
      width: 33%
      text-align: left

      > div
        margin: 0
        width: 189px

    #brand_banner_wrap
      width: 310px
      float: right

      > div
        width: 298px
