.stats-block
  height: 200px
  margin: 25px

.labels
  &.last-pour, &.fridge-temp
    padding-top: 45px

  > span
    font: 30px/1 "PT Serif"

  > .beers-number
    position: absolute
    left: 50%

    &.beers-separator
      margin-left: -4px
    &.beers-drank
      margin-left: 40px
    &.beers-left
      margin-left: -100px

.numbers
  height: 150px

  > span
    font: 120px/1 "Lato"
    padding: 0 10px

    &.separator
      font-height: 10px
