.stats-block
  height: 200px
  margin: 25px

.labels
  &.last-pour, &.fridge-temp, &.tapped
    padding-top: 45px

  > span
    font: 30px/1 "PT Serif"

  > .beers-number
    position: absolute
    left: 50%

    &.beers-drank
      margin-left: 40px
    &.beers-left
      margin-left: -100px

.numbers
  padding-top: 20px
  height: 120px

  > span
    font: 70px/1 "Lato"
    padding: 0 5px

    &.separator
      font-height: 10px

@media (min-width: 500px)
  .numbers
    padding-top: 0
    height: 150px

    > span
      font: 120px/1 "Lato"
      padding: 0 10px
