@import nib

.leaders
  > span
    display: inline-block
    font: 30px/1 "Lato"
    padding: 40px
    width: 250px

table.kegums-table
  width: 100%
  // border-collapse: separate
  // border-spacing: 5px

  tbody >
    tr
      &.clickable:hover
        cursor: pointer

      > td
        padding: 15px
        font: 30px/1 "PT Serif"
        color: #999

  tbody.leaders tr:first-child td:first-child:after
    content: url(/static/images/crown.png)
    margin-left: 10px

#create_drinker
  margin-top: 25px

  > button
    float: right

p.empty-message
  margin-top: 50px
