@import nib

.leaders
  > span
    display: inline-block
    font: 30px/1 "Lato"
    padding: 40px 0
    width: 100px

    &.bold
      font-weight: bold

    &.rank
      width: 40px

@media (min-width: 768px)
  .leaders
    > span, > span.rank
      padding: 40px
      width: 250px

table.kegums-table
  width: 100%
  border-collapse: separate
  border-spacing: 10px

  tbody > tr
    &.clickable:hover
      cursor: pointer

    > td
      padding: 30px
      font: 30px/1 "PT Serif"
      background-color: #333
      color: #999

#create_drinker
  margin-top: 25px

  > button
    float: right
    margin-right: 20px

p.empty-message
  margin-top: 50px
